<h2 class="emphasize-header">About Isaac</h2>
<p>
  With a background in the military, public policy, urban planning,
  entrepreneurship, and civic technology, Isaac has dedicated the majority of
  this career to building a meaningful relationship with government.
</p>
<p>
  Isaac’s vision is to improve the average citizen’s relationship with local
  government by improving the design of our physical, digital, and legal
  environments.
</p>
<br />

<h3>Education</h3>
<p>Duke University (BA in Public Policy)</p>
<p>
  Harvard Graduate School of Design (Certificate in Urban Planning + Design)
</p>
<br />

<h3>Officer of the US Navy</h3>
<p>
  4 years Active Duty - 1st Tour: Division Officer // 2nd Tour: Force Protection
  Officer
  <br />
  5 years Reserves - Maritime Air Operations // Ad Hoc Chinese (Mandarin)
  Linguist
</p>
<br />

<h3>
  Urban Planner
</h3>
<p>
  Active Transportation Planner: improving street design to be safer for
  pedestrians and cyclists.
  <br />
  I love urban design and geographic information systems (GIS), and hope to
  bring a data-informed decision making framework in conjunction with robust
  community input to produce human-centered streets.
</p>
<br />

<h3>
  Tech Entrepreneur
</h3>
<p>
  Founder of Field Progress: geospatial analysis and data visualization tools
  for political campaigns and advocacy groups.
  <br />
  Participant in Bunker Labs, business incubator for military veterans.
</p>
<br />

<h3>Civic Technologist</h3>
<p>
  Brigade Captain of Open San Diego: lead a volunteer public interest technology
  organization building better technology for public good. Our work brings
  programmers, data scientists, designers, activists, and local officials
  together to collaborate on projects to improve the city.
</p>
<br />

<h3>Family</h3>
<div style="max-width: 800px;">
  <img
    style="max-width: 100%; height: auto;"
    src="/assets/images/iw_military.jpg"
    alt="image of Isaac's family"
  />
</div>
