<div class="bitmoji-parent">
  <h2 class="emphasize-header">
    Get Involved
  </h2>
  <div class="bird-position">
    <img style="max-width: 100%; height: auto;" src="assets/images/bird.png" />
  </div>
</div>
<ul>
  <li>
    Follow my campaign on
    <a
      href="https://www.facebook.com/pg/IsaacCityCouncil/events/?ref=page_internal"
      target="_blank"
      >Facebook</a
    >
  </li>
  <li>
    Sign up for my
    <a href="https://tinyletter.com/Isaac_D5" target="_blank">newsletter</a>
  </li>
  <li>
    Read more about my
    <a href="{{ site.baseurl }}/policy">policies</a>
  </li>
  <li>
    <a
      href="https://secure.actblue.com/donate/isaac-wang-for-city-council-district-5-2020-1"
      target="_blank"
      ><h3><b>Donate now!</b></h3></a
    >
  </li>
</ul>
