<div class="slide">
  <h2 class="emphasize-header">Issues I Care About</h2>

  <p>
    This campaign is about urban planning for <em>21st century problems.</em>
  </p>
  <br />
  <h3>
    Climate Policy = Transit Policy = Housing Policy
    <br />It’s all built on a foundation of land-use and zoning.
  </h3>
  <br />
  <p>
    There is scientific consensus on climate change. If we do not substantially
    reduce greenhouse gas (GHG) emissions in the next 10 years, our planet will
    suffer catastrophic consequences.
  </p>
  <br />
  <p>
    In San Diego, over 50% of GHG emissions come from transportation. We must
    reduce vehicle miles traveled (VMT). This requires a mindset of
    transit-oriented development.
  </p>
  <br />
  <p>
    This means...
  </p>
</div>

<div class="slide">
  <h3>
    <em>We must plan land-use and transit together, rather than separately.</em>
  </h3>
  <br />
  <p>Build more housing in immediate vicinity to transit stations.</p>
  <p>Build more office space within walking distance of transit stations.</p>
  <p>Extend frequent and reliable transit to current job centers.</p>
  <br />
  <p>People must move efficiently between Live/Work/Play.</p>
  <p>Urban geometry doesn’t change in land constrained environments.</p>
  <p>
    Preferences for future workforce housing and transit policies are changing.
  </p>
  <p>We must adjust to new conditions and adapt to the 21st century.</p>
  <br />
  <p>
    To achieve these goals, we must...
  </p>
</div>
<div class="slide">
  <h3>
    <em
      >Update community plans and reform zoning to encourage mixed land uses and
      implement design guidelines to improve walkability and cycling.</em
    >
  </h3>
  <br />
  <p>We must make it easier to get to transit stations without a car.</p>
  <p>
    We must increase number of transit stations andmake biking and walking to
    stations safe and easy.
  </p>
  <p>
    By solving the last mile problem,we can turn transit stations into true
    mobility hubs for changing modes, and reduces number of short car trips.
  </p>
  <p>Once we reduce car-dependency for short trips, it allows us to...</p>
</div>
<div class="slide">
  <h3>
    <em
      >Rethink land-use to improve quality of life <br />American cities
      currently allocate ~50% of land to parking lots and roads.
    </em>
  </h3>
  <p>
    This is inefficient and irresponsible. Fundamentals of economics do not
    change.
  </p>
  <p>San Diego is land constrained. We must use land efficiently.</p>
  <p>
    Better mass transit allows us to convert land for roads and parking to much
    more productive uses:Parks and Gardens, Public Squares for Civic Engagement,
    Creative Workspace, Housing...
  </p>
  <p>Pretty much anything else is better than cement for parking and roads.</p>
  <br />
  <p>
    To read more policy focuses:
    <a href="{{ site.baseurl }}/policy">isaac.vote/policy</a>
  </p>
</div>
