<div class="main-images-container">
  <a
    href="https://medium.com/@Isaac_Wang_For_City_Council/21-big-ideas-c84430ce359"
    ><img class="image-link" src="assets/images/policies.png"
  /></a>
  <a href="{{site.baseurl}}/about"
    ><img class="image-link" src="assets/images/about.png"
  /></a>
  <a
    href="https://medium.com/@Isaac_Wang_For_City_Council/isaacs-vision-for-tacos-transit-f59b2ac6b123"
    ><img class="image-link" src="assets/images/vision.png"
  /></a>
  <a
    href="https://medium.com/@Isaac_Wang_For_City_Council/lets-design-a-better-relationship-with-government-e2d360f41fc8"
    ><img class="image-link" src="assets/images/values.png"
  /></a>
  <a href="https://calendly.com/meetisaac/ask-isaac-questions"
    ><img class="image-link" src="assets/images/chat.png"
  /></a>
  <a
    href="https://secure.actblue.com/donate/isaac-wang-for-city-council-district-5-2020-1"
    ><img class="image-link" src="assets/images/donate.png"
  /></a>
  <a href="https://tinyletter.com/Isaac_D5"
    ><img class="image-link" src="assets/images/volunteer.png"
  /></a>
  <a href="https://tinyletter.com/Isaac_D5"
    ><img class="image-link" src="assets/images/contact.png"
  /></a>
</div>
