<ul id="menu">
  <li>
    <a
      id="donate-link"
      href="https://secure.actblue.com/donate/isaac-wang-for-city-council-district-5-2020-1"
      target="_blank"
      >Donate</a
    >
    //
  </li>
  <li>
    <a href="https://calendly.com/meetisaac/ask-isaac-questions" target="_blank"
      >Meet</a
    >
    //
  </li>
  <li>
    <a href="https://tinyletter.com/Isaac_D5" target="_blank">Volunteer</a>
    //
  </li>
  <li>
    <a href="{{ site.baseurl }}/policy" target="_blank">Policy</a>
  </li>
</ul>
