@import url("https://fonts.googleapis.com/css?family=Roboto:500|Quicksand|Permanent+Marker");

$light: #fff;
$dark: #222;
$accent-one: #ffde59; // yellow

$header-emphasis: "Roboto", serif;
$header: "Roboto", sans-serif;
$body: "Quicksand", sans-serif;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  color: $dark;
  font-family: $header;
  font-weight: 500;
}

body {
  color: $dark;
  font-family: $body;
  font-size: 18px;
}

a {
  font-family: $body;
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
}

.section {
  padding: 0px 100px;
}

#section0 {
  background: url("/assets/images/HeroImage.png") no-repeat top center; /* fixed */
  background-size: cover;
}

#header {
  position: fixed;
  display: block;
  width: 100%;
  background: $light;
  z-index: 9;
  text-align: right;
  padding: 0 50px 0 0;
  top: 0px;
}

#section-last {
  color: #fff;
  padding: 30px 50px;
  background: $accent-one;
}

#menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: $dark;
}

.emphasize-header {
  font-family: $header-emphasis;
  font-size: 3em;
  text-shadow: 2px -2px $accent-one;
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #222;
  width: auto;
}

.fp-slidesNav.fp-bottom {
  left: 46% !important;
}

.main-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-link {
  max-width: 280px;
  margin: 10px;
}

.subpage-container {
  margin: 100px;
  margin-top: 55px;
  flex: 1;
}

.subpage-footer {
  padding: 10px;
  color: #fff;
  background-color: #222;
}

#donate-link {
  font-size: xx-large;
  font-family: $header-emphasis;
  text-shadow: 1px -1px $accent-one;
}

.bitmoji-parent {
  position: relative;
}

.train-position {
  max-width: 200px;
  position: absolute;
  top: -95px;
  left: 610px;
}

.bird-position {
  max-width: 150px;
  position: absolute;
  top: -45px;
  left: 380px;
}

.fire-position {
  max-width: 200px;
  position: absolute;
  top: -68px;
  left: 910px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  #section0 {
    background: url("/assets/images/MobileHero.png") no-repeat center 20%; /* fixed */
    background-size: cover;
  }
  .section {
    padding: 0px 50px;
  }

  .emphasize-header {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }

  #menu li {
    font-size: smaller;
  }

  #donate-link {
    font-size: x-large;
  }

  .fp-slidesNav.fp-bottom {
    left: 40% !important;
  }

  .policy-page {
    margin: 50px;
  }

  .train-position {
    display: none;
  }

  .bird-position {
    display: none;
  }

  .fire-position {
    display: none;
  }
}
