---
layout: default
---

<div id="fullpage">
  <div class="section" id="section0">
    {% include header.html %}
  </div>
  <div class="section fp-auto-height">{% include sign-up.html %}</div>
  <div class="section fp-auto-height">{% include about.html %}</div>
  <div class="section">{% include issues.html %}</div>
  <div class="section fp-auto-height">{% include do.html %}</div>
  <div class="section fp-auto-height" id="section-last">
    {% include footer.html %}
  </div>
</div>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.js"
></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
